<footer style="position: fixed; left: 0; bottom: 0; width: 100%;">
    <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}"></script>
    <div class="container">
        <br>
        <br>
        <br>
     <p class="card-text text-muted">Dieses Projekt wurde von Frances Knöpfel für das Modul Programmieren 2 bei Fabian Odoni entwickelt. Github: @francesknoepfel</p>
    </div>
</footer>
</body>
</html>
