<script src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}"></script>
<script>
    $(document).ready(function() {
        $('#deadline').datepicker({
            format: 'yyyy-mm-dd',
            autoclose: true
        });
    });
</script>

</body>
</html>