<!DOCTYPE html>
<html>
<head>
  <title>Tick Task</title>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.1/css/bootstrap.min.css">
</head>
<body>
  <!-- Your HTML content goes here -->

  <!-- At the end of the body tag, you can include the Bootstrap JavaScript files if needed -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.1/js/bootstrap.bundle.min.js"></script>
</body>
</html>
