{% include "header.jinja2" %}
{% include "navbar.jinja2" %}

<style>
    /* zeigt an nach was jetzt sortiert wurde */
    th.active {
        background-color: yellow;
    }
    .finished-task {
        text-decoration: line-through;
        color: gray;
    }
</style>

<div class="container">
    <h1 class="mt-5 display-4">Willkommen zu Tick Task!</h1>
    <p class="card-text text-muted">
        Mit Tick Task kannst du alle deine wichtigen Tasks und To-Dos festhalten und abhacken.
        Du kannst neue Einträge machen und diese Listen und Kategorien zuordnen.
        Wenn du den Tasks eine Priorität oder ein Datum zuordnest, siehst du auf einen Blick, was als nächstes ansteht.
        So kannst du über Chaos eine Übersicht haben.
    </p>

    <h3 class="mt-5 display-6">Wichtigste Tasks</h3>
    <p class="card-text text-muted">Sobald du Tasks einträgst, werden sie hier angezeigt.</p>
    <table class="table">
        <thead>
            <tr>
                <th></th>  <!-- säule für abhaken -->
                <th>Name</th>
                <th>Deadline</th>
                <th>Priorität</th>
                <th>Kategorie</th>
                <th>Notizen</th>  <!--  -->
                <th>Dauer</th>  <!-- -->
            </tr>
        </thead>
        <tbody>
            {% for task in tasks_list %}
                {% if task.priority == 'Hoch' %}
                <tr {% if task.finished %}class="finished-task"{% endif %}>
                    <td>
                        <input type="checkbox" {% if task.finished %}checked{% endif %}
                               onchange="this.form.submit();">  <!-- abhaken von tasks -->
                    </td>
                    <td>{{ task.name }}</td>
                    <td>{{ task.deadline }}</td>  <!--  -->
                    <td>{{ task.priority }}</td>
                    <td>{{ task.category }}</td>
                    <td>{{ task.notes }}</td>  <!--  -->
                    <td>{{ task.task_duration }}</td>  <!--  -->
                </tr>
                {% endif %}
            {% endfor %}
        </tbody>
    </table>
</div>

{% include "footer.jinja2" %}
