<div class="container">
    <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
        <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
            <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"/></svg>
            <span class="fs-4">Tick Task</span>
        </a>

        <ul class="nav nav-pills">
            <li class="nav-item">
                <a href="{{ url_for('index') }}" class="nav-link {% if request.path == '/' %}active{% endif %}" aria-current="Home">Home</a>
            </li>
            <li class="nav-item">
                <a href="{{ url_for('neuer_task') }}" class="nav-link {% if request.path == '/neuer_task' %}active{% endif %}">Neuer Task</a>
            </li>
            <li class="nav-item">
                <a href="{{ url_for('neue_liste') }}" class="nav-link {% if request.path == '/neue_liste' %}active{% endif %}">Neue Liste</a>
            </li>
            <li class="nav-item">
                <a href="{{ url_for('task_overview') }}" class="nav-link {% if request.path == '/task_overview' %}active{% endif %}">Task Übersicht</a>
            </li>
            <li class="nav-item">
                <a href="{{ url_for('index') }}" class="nav-link {% if request.path == '/mein_projekt' %}active{% endif %}">Mein Projekt</a>
            </li>
        </ul>
    </header>
</div>
