{% include "header.jinja2" %} <!-- header einbinden -->
{% include "navbar.jinja2" %} <!-- navbar einbinden -->

<div class="container">
    <h1 class="mt-5 display-4">Neuer Task</h1>
    <p class="card-text text-muted"> Trage hier alle nötigen Infos zu deinen Tasks ein. Je mehr Details du angeben kannst, desto besser wird dein Überblick sein.</p>
    <form action="/save_task" method="POST">
        <div class="form-group">
            <label for="task_name">Task Name:</label>
            <input type="text" class="form-control" name="task_name" id="task_name"
                   placeholder="Bitte gib deinen Task ein." required>
        </div>

        <div class="form-group">
            <label for="deadline">Deadline:</label>
            <div class="input-group date">
                <input type="text" class="form-control" name="deadline" id="deadline" placeholder="Bis wann sollte der Task fertig sein?">
                <div class="input-group-append">
                    <span class="input-group-text"><i class="fa fa-calendar"></i></span>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label for="priority">Priorität:</label>
            <select class="form-control" name="priority" id="priority">
                <option value="" selected>Wähle aus welche Priorität dieser Task hat. </option>
                <option value="Tief">Tief</option>
                <option value="Medium">Medium</option>
                <option value="Hoch">Hoch</option>
            </select>
        </div>

        <div class="form-group">
            <label for="task_duration">Dauer des Tasks:</label>
            <input type="text" class="form-control" name="task_duration" id="task_duration"
                   placeholder="Wie viele Minuten dauert es diesen Task zu erledigen? Nur Zahleneingabe." pattern="[0-9]+" required>
        </div>

          <div class="form-group">
    <label for="category">Kategorie:</label>
    <select class="form-control" name="category" id="category">
        <option value="" selected>Wähle ein Kategorie aus.</option>
        {% for category in categories %}
            <option value="{{ category }}">{{ category }}</option>
        {% endfor %}
        <option value="new_category">Kategorie hinzufügen</option>
    </select>
    {% if category == 'new_category' %}
        <div class="mt-3">
            <label for="new_category">Neue Kategorie:</label>
            <input type="text" class="form-control" name="new_category" id="new_category" placeholder="Gib den Namen der neuen Kategorie ein.">
        </div>
    {% endif %}
</div>

        <div class="form-group">
            <label for="notes">Sonstige Notizen:</label>
            <textarea class="form-control" name="notes" id="notes" rows="5" placeholder="Hier kannst du Notizen zu deinem Task vermerken."></textarea>
        </div>


        <input type="submit" value="Eintrag speichern" class="btn btn-primary">
    </form>

    {% if show_task_saved %}
    <!-- Task gespeichert -->
    <h1 class="mt-5">Eintrag gespeichert</h1>
    <p class="card-text text-muted"> Alle deine gespeicherten Einträge kannst du auf der Startseite und unter Task Übersicht finden.</p>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">{{ task.name }}</h5>
            <p class="card-text">Deadline: {{ task.deadline }}</p>
            <p class="card-text">Priority: {{ task.priority }}</p>
            <p class="card-text">Category: {{ task.category }}</p>
        </div>
    </div>
    {% endif %}


<style>
    /* CSS-Style für die hinzugefügten Aufgaben */
    #task-list {
        max-height: 300px;
        overflow-y: auto;
    }
</style>

{% include "footer.jinja2" %} <!-- Footer einbinden -->
