{% include "header.jinja2" %}
{% include "navbar.jinja2" %}

<div class="container mt-5">
    <h1>Neue Liste hinzufügen</h1>
    <form method="POST">
        <div class="form-group">
            <label for="list_name">Liste Name:</label>
            <input type="text" class="form-control" id="list_name" name="list_name" placeholder="Bitte gib den Namen deiner neuen Liste ein">
        </div>
        <div class="form-group">
            <label for="kategorie">Kategorie:</label>
            <select class="form-control" id="kategorie" name="kategorie">
                <option value="" selected>Choose a category</option>
                {% for category in ["Schule", "Haushalt", "Finanzen", "Familie", "Einkauf", "Sonstiges"] %}
                    <option value="{{ category }}">{{ category }}</option>
                {% endfor %}
                <option value="new_category">Kategorie hinzufügen</option>
            </select>
        </div>
        <div class="form-group" id="new_category" style="display: none;">
            <label for="new_category_name">New Category Name:</label>
            <input type="text" class="form-control" name="new_category_name" id="new_category_name"
                   placeholder="Enter the name of the new category">
            <small id="new_category_help" class="form-text text-muted">Enter the name of the new category.</small>
        </div>
        <button type="submit" class="btn btn-primary">Senden</button>
    </form>
</div>

<style>
    /* CSS to show the new category input when "Kategorie hinzufügen" is selected */
    #kategorie option[value="new_category"]:checked ~ #new_category {
        display: block;
    }
</style>

{% include "footer.jinja2" %}
