<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Neuer Task hinzufügen</title>
    <link rel="stylesheet" href="{{url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Tick Task</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/neuer_task">Neuer Task</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/neue_liste">Neue Liste</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container mt-5">
        <h1>Neuer Task hinzufügen</h1>
        <form method="POST" action="/add_task">
            <div class="form-group">
                <label for="task_name">Task Name:</label>
                <input type="text" class="form-control" name="task_name" id="task_name"
                       placeholder="Bitte gib deinen Task ein" required>
            </div>

            <div class="form-group">
                <label for="deadline">Deadline:</label>
                <input type="text" class="form-control" name="deadline" id="deadline"
                       placeholder="Bis wann sollte der Task fertig sein?">
            </div>

            <div class="form-group">
                <label for="priority">Priorität:</label>
                <input type="text" class="form-control" name="priority" id="priority"
                       placeholder="Bitte gib die Priorität des Tasks an">
            </div>
            <div class="form-group">
    <label for="list_name">Kategorie:</label>
    <select class="form-control" name="list_name" id="list_name">
        <option value="" selected>Choose a category</option>
        {% for list in lists %}
            <option value="{{ list }}">{{ list }}</option>
        {% endfor %}
        <option value="new_category">Add New Category</option>
    </select>
            </div>



            <div id="new_category" style="display: none;">
                <label for="new_category_name">New Category Name:</label>
                <input type="text" class="form-control" name="new_category_name" id="new_category_name"
                       placeholder="Enter the name of the new category">
            </div>

            <button type="submit" class="btn btn-primary">Senden</button>
        </form>
    </div>

    <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}"></script>
    <script>
        // Show/hide the new category input based on the selected option
        var listNameSelect = document.getElementById("list_name");
        var newCategoryInput = document.getElementById("new_category");

        listNameSelect.addEventListener("change", function() {
            if (listNameSelect.value === "new_category") {
                newCategoryInput.style.display = "block";
            } else {
                newCategoryInput.style.display = "none";
            }
        });
    </script>
</body>
</html>
