{% include "header.jinja2" %}
{% include "navbar.jinja2" %}

<form method="POST">
    <div class="form-group">
        <label for="kategorie_name">Kategorie Name:</label>
        <input type="text" class="form-control" name="kategorie_name" id="kategorie_name" placeholder="Bitte gib den Namen der Kategorie ein">
    </div>
    <div class="form-group">
        <label for="priority">Priorität:</label>
        <input type="text" class="form-control" name="priority" id="priority" placeholder="Bitte gib an, welche Priorität diese Kategorie hat">
    </div>
    <button type="submit" class="btn btn-primary">Senden</button>
</form>

{% include "footer.jinja2" %}
