{% include "header.jinja2" %}  <!-- Fügt die "header.jinja2"-Vorlage ein -->
{% include "navbar.jinja2" %}  <!-- Fügt die "navbar.jinja2"-Vorlage ein -->

<div class="container">
    <h1 class="mt-5 display-4">Neuer Task</h1>
    <p class="card-text text-muted">Trage hier alle nötigen Informationen zu deinen Aufgaben ein. Je mehr Details du angeben kannst, desto besser wird dein Überblick sein.</p>

    <form action="/save_task" method="POST">
        <div class="form-group">
            <label for="task_name">Aufgabenname:</label>
            <input type="text" class="form-control" name="task_name" id="task_name" placeholder="Bitte gib deinen Task ein." required>
        </div>

        <div class="form-group">
            <label for="deadline">Deadline:</label>
            <div class="input-group date">
                <input type="text" class="form-control" name="deadline" id="deadline" placeholder="Bis wann sollte die Aufgabe fertig sein?">
                <div class="input-group-append">
                    <span class="input-group-text"><i class="fa fa-calendar"></i></span>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label for="priority">Priorität:</label>
            <select class="form-control" name="priority" id="priority">
                <option value="" selected>Wähle die Priorität dieser Aufgabe aus.</option>
                <option value="Tief">Tief</option>
                <option value="Medium">Medium</option>
                <option value="Hoch">Hoch</option>
            </select>
        </div>

        <div class="form-group">
            <label for="task_duration">Dauer der Aufgabe:</label>
            <input type="number" class="form-control" name="task_duration" id="task_duration" placeholder="Gib die Dauer der Aufgabe in Minuten ein." required>
        </div>

        <div class="form-group">
            <label for="category">Kategorie:</label>
            <select class="form-control" name="category" id="category">
                <option value="" selected>Wähle eine Kategorie aus.</option>
                {% for category in categories %}
                <option value="{{ category }}">{{ category }}</option>
                {% endfor %}
                <option value="new_category">Neue Kategorie hinzufügen</option>
            </select>
        </div>

        {% if category == 'new_category' %}
        <div class="form-group">
            <label for="new_category">Neue Kategorie:</label>
            <input type="text" class="form-control" name="new_category" id="new_category" placeholder="Gib den Namen der neuen Kategorie ein." required>
        </div>
        {% endif %}

        <div class="form-group">
            <label for="notes">Sonstige Notizen:</label>
            <textarea class="form-control" name="notes" id="notes" rows="5" placeholder="Hier kannst du Notizen zu deiner Aufgabe vermerken."></textarea>
        </div>

        <input type="submit" value="Eintrag speichern" class="btn btn-primary">
    </form>
</div>

{% include "footer.jinja2" %}  <!-- Fügt die "footer.jinja2"-Vorlage ein -->