{% include "header.jinja2" %}  <!-- Fügt die "header.jinja2"-Vorlage ein -->
{% include "navbar.jinja2" %}  <!-- Fügt die "navbar.jinja2"-Vorlage ein -->

<div class="container">
    <h1 class="mt-5 display-4">Task Übersicht</h1>
    <a href="/graph" class="btn btn-primary">Graph generieren</a>
    <a href="/neuer_task" class="btn btn-primary">Task erstellen</a>
    <form method="GET" action="{{ url_for('task_overview') }}">
        <label for="sort_option">Sortieren nach:</label>
        <select name="sort_option" id="sort_option" class="form-select">
            <option value="priority">Priorität</option>
            <option value="deadline">Deadline</option>
            <option value="category">Kategorie</option>
        </select>
        <button type="submit" class="btn btn-primary">Filter anwenden</button>
    </form>


    <!--  -->
    <form action="/mark_task_finished" method="POST">
        <p class="card-text text-muted">Sobald du Tasks einträgst, werden sie hier angezeigt.</p>
        <table class="table">
            <thead>
                <tr>
                    <th></th>
                    <th>Name</th>
                    <th>Deadline</th>
                    <th>Priorität</th>
                    <th>Kategorie</th>
                    <th>Notizen</th>
                    <th>Dauer</th>
                </tr>
            </thead>
            <tbody>
                <!-- for schleife iteriert über jede Aufgaeb in der task liste -->
                {% for task in tasks %}
                <!--  Bedingung wird überpräft ob die Aufgabe finished ist-->
                <tr {% if task.finished %}class="finished-task"{% endif %}>
                    <td>
                        <!-- Input element mit checkbox, damit user abhaken kann wenn der task fertig ist  -->
                        <input type="checkbox" {% if task.finished %}checked{% endif %} name="completed_task" value="{{ task.id }}">
                    </td>
                    <td>{{ task.name }}</td>
                    <td>{{ task.deadline }}</td>
                    <td>{{ task.priority }}</td>
                    <td>{{ task.category }}</td>
                    <td>{{ task.notes }}</td>
                    <td>{{ task.task_duration }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </form>

    <h3 class="mt-5 display-6">Kategorien</h3>
    <p class="card-text text-muted">Deine Tasks nach Kategorie organisiert:</p>
    <div class="d-flex flex-wrap">
        {% for category_name, category in category_data.items() %}
        <div class="card m-2">
            <div class="card-header">
                <h5>{{ category_name }}</h5>
            </div>
            <div class="card-body">
                {% for task in category['tasks']|sort(attribute=sort_option) %}
                <div class="card mb-2 {% if task.finished %}finished-task{% endif %}">
                    <div class="card-body">
                        <label class="form-check-label">
                            <input type="checkbox" {% if task.finished %}checked{% endif %} name="completed_task" value="{{ task.id }}" onchange="this.form.submit();" class="form-check-input">
                            <span>{{ task.name }}</span>
                        </label>
                        <div class="mt-2">
                            <small class="text-muted">Deadline: {{ task.deadline }}</small>
                        </div>
                        <div class="mt-2">
                            <small class="text-muted">Notizen: {{ task.notes }}</small>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% include "footer.jinja2" %}  <!-- Fügt die "footer.jinja2"-Vorlage ein -->
