{% include "header.jinja2" %}
{% include "navbar.jinja2" %}

<div class="container">
  <h1 class="mt-5">Eintrag gespeichert</h1>
  <p class="card-text text-muted">Dein Eintrag wurde gespeichert:</p>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">{{ task_name }}</h5>
      <p class="card-text">Deadline: {{ deadline }}</p>
      <p class="card-text">Priorität: {{ priority }}</p>
      <p class="card-text">Kategorie: {{ category }}</p>
      <p class="card-text">Dauer: {{ task_duration }}</p>
      <p class="card-text">Notizen: {{ notes }}</p>
    </div>
  </div>

<div class="mt-3">
  <div class="btn-group">
    <form action="/neuer_task" method="GET">
      <input type="submit" value="Add Another New Task" class="btn btn-primary mr-2">
    </form>
    <a href="/task_overview" class="btn btn-primary">Zur Task Übersicht</a>
  </div>
</div>






{% include "footer.jinja2" %}
